* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Ensures the boxes all fit properly, 3 on left 1 on right*/


body {
    background-color: #d9dcd6;
}

/*Gives the body background white, depsite the images*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Defines multiple aspects for the header*/

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Sizes the header, and aligns it*/

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Places the links on the right, aligns & defines font aspects*/

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Condenses the links side by side, rather than stacked*/

a {
    color: #ffffff;
    text-decoration: none;
}

/*Colors the links on the top of the page*/

p {
    font-size: 16px;
}

/* Adjusts font size for the contents per box.*/

.meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*The primary banner/image on the webpage*/

.float-left {
    float: left;
    margin-right: 25px;
}

/* Positions the image to the left*/

.float-right {
    float: right;
    margin-left: 25px;
}

/*Positions the image to the right*/

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Positions of the lower boxes contents*/

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Variables for right bar*/

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefits styles were consolidated down to one on CSS*/

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Inner contents for H3 were consilidated as well.*/


.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Lower contents were organized for visibility purposes.*/

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
}


.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Upper contents were organized for visibility purposes*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer elements at lower page.*/

.footer h2 {
    font-size: 20px;
}

/* HTML & CSS values were inspected & adjusted for consilidation
& easy visibility purposes.*/